@use "../abstracts" as *;
/*-------------------------------------------*\
    #modal
\*--------------------------------------------*/

.modal {
  background: var(--white);
  display: none;
  animation: fadeOut 2s;

  &--active {
    display: block;
    animation: fadeIn 2s;
  }

  &-wrapper {
    display: grid;
    grid-template:
      [row1-start] "heading" 0.4fr [row1-end]
      [row2-start] "img" 1fr [row2-end]
      [row3-start] "button" 0.488fr [row3-end] / 1fr;
    justify-items: center;
    align-items: center;
    min-height: 100%;
  }

  &__heading {
    grid-area: heading;
    font-size: 2rem;
    margin-top: 4rem;
    text-transform: uppercase;
    color: var(--Dark-Text);
  }

  &__button {
    width: 2rem;
    height: 2em;
    grid-area: button;
    margin-top: rem(11px);
    background: url("../assets/images/icon-close.svg") 57%/69% no-repeat;
    border: none;
    transition: all 300ms ease-in-out;

    &:hover {
      filter: invert(29%) sepia(98%) saturate(7450%) hue-rotate(357deg)
        brightness(104%) contrast(120%);
    }
  }

  &__body {
    grid-area: img;
  }

  &__image-wrapper {
    max-width: rem(309px);
    margin: rem(19px) 0 0 rem(5px);
  }

  // table view ------------------------------------------------------------------------
  @include respond-to("tablet") {
    border-radius: 0.5rem;
    &-wrapper {
      grid-template:
        [row1-start] "heading button" 0.2fr [row1-end]
        [row2-start] "img img" 1fr [row2-end] / 1fr 1fr;
      padding: rem(15px) rem(31px);
      border-radius: 10%;
    }

    &__heading {
      margin-top: 0;
      justify-self: start;
    }

    &__button {
      margin-top: 0;
      justify-self: end;
    }

    &__body {
      grid-area: img;
      align-self: start;
    }

    &__image-wrapper {
      margin: 0;
      max-width: unset;
    }
  }
}
