@use "../abstracts" as *;
/*-------------------------------------------*\
    #helpers
\*--------------------------------------------*/

// a general purpose container for positioning content
.container {
  max-width: var(--container-mobile);
  margin: 0 auto;

  // tablet view -----------------------------------------------------------------------------
  @include respond-to("tablet") {
    max-width: 86rem;
  }
}

// hides the cotent from being displayed visually
.sr-only:not(:focus):not(:active) {
  display: absolute;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
  overflow: hidden;
  clip-path: inset(50%);
  white-space: no-wrap;
}

// Hiding conent
.hidden {
  display: none;
}

.no-scroll {
  overflow-y: hidden;
}
