/*-------------------------------------------*\
    #animations
\*--------------------------------------------*/

/* pusle animations for button hover state, the difference between difference versions 
*  is the circumference of the circles.
*/
@keyframes pulse-xs {
  0% {
    box-shadow: 0 0 0 0 var(--first-shadow-color);
  }
  25% {
    box-shadow: 0 0 0 25px var(--first-shadow-color);
  }

  50% {
    box-shadow: 0 0 0 50px var(--first-shadow-color),
      0 0 0 25px var(--first-shadow-color);
  }

  100% {
    box-shadow: 0 0 0 75px var(--third-shadow-color),
      0 0 0 50px var(--second-shadow-color),
      0 0 0 25px var(--first-shadow-color);
  }
}

@keyframes pulse-s {
  0% {
    box-shadow: 0 0 0 0 var(--first-shadow-color);
  }
  25% {
    box-shadow: 0 0 0 35px var(--first-shadow-color);
  }
  50% {
    box-shadow: 0 0 0 70px var(--first-shadow-color),
      0 0 0 20px var(--first-shadow-color);
  }

  100% {
    box-shadow: 0 0 0 105px var(--third-shadow-color),
      0 0 0 70px var(--second-shadow-color),
      0 0 0 35px var(--first-shadow-color);
  }
}

@keyframes pulse-m {
  0% {
    box-shadow: 0 0 0 0 var(--first-shadow-color);
  }
  25% {
    box-shadow: 0 0 0 50px var(--first-shadow-color);
  }
  50% {
    box-shadow: 0 0 0 100px var(--first-shadow-color),
      0 0 0 20px var(--first-shadow-color);
  }

  100% {
    box-shadow: 0 0 0 150px var(--third-shadow-color),
      0 0 0 100px var(--second-shadow-color),
      0 0 0 50px var(--first-shadow-color);
  }
}

@keyframes pulse-l {
  0% {
    box-shadow: 0 0 0 0 var(--first-shadow-color);
  }
  25% {
    box-shadow: 0 0 0 75px var(--first-shadow-color);
  }
  50% {
    box-shadow: 0 0 0 150px var(--first-shadow-color),
      0 0 0 20px var(--first-shadow-color);
  }

  100% {
    box-shadow: 0 0 0 225px var(--third-shadow-color),
      0 0 0 150px var(--second-shadow-color),
      0 0 0 75px var(--first-shadow-color);
  }
}
// animations for sprites in result page
@keyframes slideUp {
  0% {
    transform: translateY(250px);
  }
  100% {
    transform: translateY(-250px);
  }
}
