/*-------------------------------------------*\
    #variables
\*--------------------------------------------*/

:root {
  // gradients
  --scissors-gradient-from: hsl(39, 89%, 49%);
  --scissors-gradient-to: hsl(40, 84%, 53%);
  --paper-gradient-from: hsl(230, 89%, 62%);
  --paper-gradient-to: hsl(230, 89%, 65%);
  --rock-gradient-from: hsl(349, 71%, 52%);
  --rock-gradient-to: hsl(349, 70%, 56%);
  --lizard-gradient-from: hsl(261, 73%, 60%);
  --lizard-gradient-to: hsl(261, 72%, 63%);
  --spock-gradient-from: hsl(189, 59%, 53%);
  --spock-gradient-to: hsl(189, 58%, 57%);
  --bg-radial-gradient-from: hsl(214, 47%, 23%);
  --bg-radial-gradient-to: hsl(237, 49%, 15%);

  // text colors
  --Dark-Text: hsl(229, 25%, 31%);
  --Score-Text: hsl(229, 64%, 46%);
  --Header-Outline: hsl(217, 16%, 45%);

  // colors
  --white: hsl(0, 100%, 100%);
  --black: hsl(0, 0%, 0%);

  // shadow color
  --box-shadow-inset: hsl(240, 0.7%, 73.5%);
  --scissors-shadow-outset: hsl(30.8, 94.7%, 44.7%);
  --spock-shadow-outset: hsl(189deg, 84%, 31%);
  --paper-shadow-outset: hsl(230deg, 70%, 40%);
  --lizard-shadow-outset: hsl(261deg, 78%, 47%);
  --rock-shadow-outset: hsl(349deg, 86%, 34%);
  --first-shadow-color: hsl(0deg 0% 57% / 17%);
  --second-shadow-color: hsl(0deg 0% 57% / 17%);
  --third-shadow-color: hsl(0deg 0% 57% / 17%);

  --border-width: clamp(1.4rem, 2vw + 1rem, 2rem);
  --connection-line-w: 1rem;
  --connection-line-h: 10rem;

  // container breakpoints
  --container-mobile: 34rem;
  --container-desktop: 62rem;
}

// desktop and mobile
$mobile-width: 23.4375rem;
$desktop-width: 85.375rem;

// breakpoints
$breakpoints: (
  "tablet": 43em,
  "laptop": 62em,
  "desktop": 82em,
);
