/*-------------------------------------------*\
    #modal
\*--------------------------------------------*/

.footer {
  max-width: 24rem;
  margin: 2rem auto;

  &__link {
    color: var(--white);
  }
}
