@use "../abstracts" as utility;
@import "../abstracts/functions";
/*-------------------------------------------*\
    #game-header
\*--------------------------------------------*/

.game {
  &__header {
    border: rem(3px) solid var(--Header-Outline);
    border-radius: 0.5rem;
    @include utility.interpolate(
      width,
      utility.$mobile-width,
      utility.$desktop-width,
      rem(310px),
      rem(700px)
    );

    margin: clamp(2rem, 4vw + 1rem, 3rem) auto;
    @include utility.flexify();
  }

  &__heading {
    font-size: rem(12px);
    max-width: rem(32px);
    color: var(--white);
    line-height: rem(10px);
    margin: rem(20px) rem(26px);
    text-transform: uppercase;
  }

  &__score-display {
    background: var(--white);
    margin: rem(3px) rem(11px) rem(4px) rem(13px);
    padding: rem(11px) rem(22px) rem(6px) rem(24px);
    text-align: center;
    border-radius: 0.4rem;
  }

  &__score-heading {
    display: block;
    text-transform: uppercase;
    font-size: clamp(rem(9px), 2vw + 0.1rem, rem(18px));
    letter-spacing: rem(2px);
    color: var(--Score-Text);
  }

  &__score {
    font-size: clamp(rem(37px), 4vw + 1rem, rem(64px));
    color: var(--Dark-Text);
  }

  // tablet view -----------------------------------------------------------
  @include utility.respond-to("tablet") {
    &__heading {
      font-size: rem(29px);
      max-width: 8rem;
      line-height: rem(23px);
      margin: rem(13px) rem(29px);
    }

    &__score-display {
      margin: rem(4px) rem(22px) rem(3px) rem(19px);
      padding: rem(15px) rem(46px) rem(5px) rem(47px);
    }
  }
}
