@use "../abstracts" as *;
@use "./body";

/*-------------------------------------------*\
    #result 
\*--------------------------------------------*/

.game {
  // delete when finished
  &__body {
  }

  &__result {
    /*  border: 2px solid red; */
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    min-height: 25rem;
    width: 100%;
    margin-top: rem(115px);

    &--intro {
      // making the replay button invisible
      .game__replay-wrapper {
        display: none;
      }

      // restyling the house button
      .game__house-button {
        // modifier for removing all the styles and creating a new inner circle.
        // common styles for all modifier

        /*  width: calc(100% - clamp(2rem, 4vw + 1rem, 4rem));
                height: calc(100% - clamp(2rem, 4vw + 1rem, 4rem)); */

        &--circle-empty,
        &--circle-scissors,
        &--circle-paper,
        &--circle-rock,
        &--circle-spock,
        &--circle-lizard {
          // removing the pseudo element that contains the inner circle for all these modifiers
          &::before {
            all: unset;
          }

          // removing the animation of game__house-button for these for modifiers
          &:hover {
            animation: none;
          }
        }

        // removing the inner circle containing the sprite and bax-show

        &::after {
          content: "";
          position: absolute;
          left: 50%;
          top: 50%;
          width: 100%;
          height: 100%;
          background-color: var(--bg-btn-result-intro);
          transform: translate(-50%, -50%);
          border-radius: 100%;
        }

        &--circle-scissors {
          &::after {
            background: url("../assets/images/icon-scissors.svg") 44% 59%/45%
                no-repeat,
              var(--white);
          }
        }

        &--circle-paper {
          &::after {
            background: url("../assets/images/icon-paper.svg") 44% 59%/45%
                no-repeat,
              var(--white);
          }
        }

        &--circle-rock {
          &::after {
            background: url("../assets/images/icon-rock.svg") 44% 59%/45%
                no-repeat,
              var(--white);
          }
        }

        &--circle-spock {
          &::after {
            background: url("../assets/images/icon-spock.svg") 44% 59%/45%
                no-repeat,
              var(--white);
          }
        }

        &--circle-lizard {
          &::after {
            background: url("../assets/images/icon-lizard.svg") 44% 59%/45%
                no-repeat,
              var(--white);
          }
        }
      }
    }

    // game__result--show-result------------------------------------------------------------------
    /* This only modifies the layout of game__reuslt as oppose to game__result--intro that changes in 
    *  many elemets within game__reuslt.
    */

    &--show-result {
      // changing the grid layout
      .game__result-wrapper {
        grid-template: [row1-start] " player  house" 1fr [row1-end] / 1fr 1fr;
      }

      .game__replay-wrapper {
        display: none;
      }
      .game__player-choice,
      .game__house-choice {
        justify-self: center;
      }
    }
    /*defining a fluid width, min-width 388px and max-width = 962px
    * between these two limits it grows and shrinks dynamically
    */
    @include interpolate(
      max-width,
      $mobile-width,
      $desktop-width,
      rem(388px),
      rem(962px)
    );

    &-wrapper {
      display: grid;
      grid-template:
        [row1-start] "player house" 1fr[row1-end]
        [row2-start] "replay replay" 1fr [row2-end]/1fr 1fr;
    }
  }

  // common styels between player and house ------------------------------------------------------
  &__player-wrapper,
  &__house-wrapper {
    @extend .game__button-wrapper;
    // deleting the line connection
    &:after {
      display: none;
    }

    //modifier for removing the pulse animation from the game__house-wrapper in game__result--intro
    &--none-animated {
      &:hover {
        animation: none;
      }
    }
  }

  &__player-button,
  &__house-button {
    @extend .game__button;

    // overriding the inner circle of game__button ---------------------------------
    &::before {
      box-shadow: inset 0 rem(4px) 0 var(--box-shadow-inset);
      width: calc(100% - clamp(2rem, 4vw + 1rem, 4rem));
      height: calc(100% - clamp(2rem, 4vw + 1rem, 4rem));
    }

    // overiding modifiers of game__button ------------------------------------------
    &--scissors {
      box-shadow: 0 rem(7px) 0 0 var(--scissors-shadow-outset);
    }

    &--paper {
      box-shadow: 0 rem(7px) 0 0 var(--paper-shadow-outset);
    }
    &--rock {
      box-shadow: 0 rem(7px) 0 0 var(--rock-shadow-outset);
    }
    &--lizard {
      box-shadow: 0 rem(7px) 0 0 var(--lizard-shadow-outset);
    }
    &--spock {
      box-shadow: 0 rem(7px) 0 0 var(--spock-shadow-outset);
    }
  }

  // overriding the width of game__button and game__button-wrapper
  &__player-wrapper,
  &__house-wrapper,
  &__player-button,
  &__house-button {
    width: clamp(8rem, 20vw + 1rem, 20rem);
    height: clamp(8rem, 20vw + 1rem, 20rem);
  }

  &__player-text,
  &__house-text {
    color: var(--white);
    font-size: rem(17px);
    letter-spacing: 1px;
    text-transform: uppercase;
  }

  // player choice------------------------------------------------------
  &__player {
    &-wrapper {
      margin-bottom: rem(26px);
      align-self: start;
    }

    &-choice {
      grid-area: player;
      display: flex;
      flex-direction: column;
      justify-self: center;
    }

    &-text {
      align-self: center;
    }
  }

  // house choice------------------------------------------------------
  &__house {
    &-wrapper {
      margin-bottom: rem(26px);
      align-self: center;
    }

    &-choice {
      grid-area: house;
      justify-self: center;
      display: flex;
      flex-direction: column;
    }

    &-text {
      align-self: center;
    }
  }

  // relapy------------------------------------------------------
  &__replay-wrapper {
    grid-area: replay;
    display: flex;
    flex-direction: column;
    margin-top: rem(56px);
    text-align: center;
    align-self: end;
  }

  &__winner {
    font-size: rem(55px);
    color: var(--white);
    text-transform: uppercase;
    margin-bottom: 1rem;
  }

  &__replay {
    color: var(--Dark-Text);
    font-size: rem(16px);
    text-transform: uppercase;
    height: 3rem;
    margin: 0 auto;
    min-width: 14rem;
    border-radius: 0.5rem;
    border: none;
    font-weight: 600;
  }

  // tablet view -----------------------------------------------------------------------------------
  @include respond-to("tablet") {
    &__result {
      /* Modifire that modifies that state of result section.
      *  since the layout is a litle different some properties are overridden. this modifier is intended
      *  to be toggled when user clicks one of the buttons. 
      */

      &--intro {
        // changing the grid layout
        .game__result-wrapper {
          grid-template: [row1-start] " player  house" 1fr [row1-end] / 1fr 1fr;
        }

        .game__player-choice,
        .game__house-choice {
          justify-self: center;
        }
      }

      // game__result--show-result------------------------------------------------------------------
      &--show-result {
        // changing the grid layout
        .game__result-wrapper {
          grid-template: [row1-start] " player  house" 1fr [row1-end] / 1fr 1fr;
        }
      }
    }

    // common styles------------------------------------------------------------------

    &__player-button,
    &__house-button {
      &::before {
        box-shadow: inset 0 rem(10px) 0 var(--box-shadow-inset);
      }

      // modifiers for adjusting the outer box-shadow to result section
      &--scissors {
        box-shadow: 0 rem(12px) 0 0 var(--scissors-shadow-outset);
      }
      &--paper {
        box-shadow: 0 rem(12px) 0 0 var(--paper-shadow-outset);
      }
      &--rock {
        box-shadow: 0 rem(12px) 0 0 var(--rock-shadow-outset);
      }
      &--lizard {
        box-shadow: 0 rem(12px) 0 0 var(--lizard-shadow-outset);
      }
      &--spock {
        box-shadow: 0 rem(12px) 0 0 var(--spock-shadow-outset);
      }
    }

    &__player-choice,
    &__house-choice {
      flex-direction: column-reverse;
    }

    &__player-wrapper,
    &__house-wrapper {
      margin-bottom: 0;
      margin-top: rem(39px);
    }

    &__player-text,
    &__house-text {
      font-size: rem(14px);
      letter-spacing: rem(4px);
    }

    // player -------------------------------------------------------------------------------
    &__player {
      &-choice {
        margin-left: 0;
      }
    }
    // house -------------------------------------------------------------------------------
    &__house {
      &-choice {
        justify-self: end;
      }
    }

    // replay -------------------------------------------------------------------------------
    &__replay-wrapper {
      margin-top: 0;
      align-self: center;
      animation: slideInDown;
      animation-duration: 2s;
    }

    &__winner {
      font-size: rem(57px);
      margin-top: 3rem;
      margin-bottom: 1rem;
    }
  }
  // tablet view -----------------------------------------------------------------------------------
  @include respond-to("laptop") {
    &__result {
      &--intro {
        .game__player-choice {
          margin-left: 6rem;
        }

        .game__house-choice {
          margin-left: 2rem;
          justify-self: start;
        }
      }
      // game__result--show-result------------------------------------------------------------------
      &--show-result {
        .game__player-choice {
          margin-left: 6rem;
        }

        .game__house-choice {
          justify-self: start;
          margin-left: 2rem;
        }
      }
    }

    // common styles------------------------------------------------------------------
    &__player-button,
    &__house-button {
      &::before {
        box-shadow: inset 0 rem(14px) 0 var(--box-shadow-inset);
      }
    }
    &__player-wrapper,
    &__house-wrapper {
      margin-top: 4rem;
    }

    &__player-text,
    &__house-text {
      font-size: rem(21px);
    }

    //house -----------------------------------------------------------------------
    &__house {
      &-choice {
        justify-self: start;
        margin-left: rem(8px);
      }
    }
  }
}
